img{
  max-width:100%;
}

p{
  color:black;
}

body{
  background-color:#3ea5bc;
}

a{
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.veyron{
  background-color: #FF530D;
}

.chiron{
  background-color: #E82C0C;
}

.divolink{
  /*color: #3ea5bc;-->*/
}

.chironlink{
  /*color: #E82C0C*/
}

.veyronlink{
  /*color: #FF530D;*/
}

ul{
  list-style-type: square;
}
